body{
    margin: 0;
    padding: 100px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Prompt', sans-serif;
    background-color: #618264;  
}




.titlebox {
    margin-top: 200px;
    margin-bottom: 500px;
    margin: 0 auto;
    /* width: 300px; */
    background-color: #D0E7D2;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    transition: transform .2s;
   
}

.titlebox:hover{
    transform: scale(1.05);
    z-index: 1;
}

.titlebox p {
    font-size: 62px;
    font-style: oblique;
    text-align: center;
    color: #618264;
}


.content-box {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #F0F0F0;
    padding: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

.content-box img {
    max-width: 40%;
    margin-right: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.text-content p1 {
    font-size: 32px;
    margin: 0;
}

.text-content p {
    font-size: 16px;
    margin: 0;
}


footer {
    background-color: #333; /* Set the background color for the footer */
    color: #fff; /* Set the text color */
    text-align: center; /* Center-align the text */
    padding: 10px; /* Add padding for spacing */
}

